@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: #414141;
}

#login {
    background: linear-gradient(45deg, #6550b9, #1a0038);
    color: #ffffff;
    width: 700px;
    height: 700px;
    padding: 15px 0;
    font-size: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    text-align: center;
}
    #login h2 {
    margin-bottom: 50px;
    font-size: 50px;
    }
    #login label {
        font-size: 25px;
    }
    #login input {
        width: 300px;
        height: 40px;
        margin: 10px 0;
        border: black 2px solid;
        border-radius: 10px;
        transition: 0.3s;
        font-size: 26px;
    }
    #login input:hover {
        box-shadow: 0 0 10px #bbbbbb;
        transition: 0.3s;
    }
    #login input:focus {
        box-shadow: 0 0 15px #ff4995;
        outline: none;
        transition: 0.3s;
    }
    #login .select {
        width: 35px;
        height: 35px;
        cursor: pointer;
        margin: 10px 10px 0 10px;
        box-shadow: none;
    }   
    #login .select:hover {
            box-shadow: none;
            transition: 0.3s;
    }
    #login .select:focus {
            box-shadow: none;
            outline: none;
            transition: 0.3s;
    }

#submit_login {
    background-color: #ffffff;
    color: #000000;
    border: 3px solid #000000;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 30px;
    border-radius: 15px;
    margin-top: 30px;
    transition: 0.1s;
    width: auto;
}
    #submit_login:hover {
        box-shadow: 0px 0px 10px #ffffff;
        opacity: 0.9;
        transition: 0.3s;
    }
    #submit_login:active {
        transform: scale(0.95);
    }
