@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Ubuntu, sans-serif;
}

body {

    background-color: #ffffff;
    color: #000000;
    background-image: url(https://images.wallpaperscraft.ru/image/single/kirpichi_stena_kirpichnaia_stena_170871_1920x1080.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#clicker {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#clicker button {
    background-color: #000000;
    color: #ffffff;
    border: 3px solid #494949;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 60px;
    border-radius: 15px;
    float: center;
    text-align: center;
    border-radius: 20px;
    width: 500px;
    height: auto;
    transition: 0.07s all ease-in-out;
}
    #clicker button:hover {
        box-shadow: 10px 10px 20px #573a3a;
        opacity: 0.9;
    }
    #clicker button:active {
        transform: scale(0.96);
    }
#counter {
    text-align: center;
    font-size: 40px;
    color: #ffffff;
    margin-top: 20px;
    top: 20px;
    left: 50px;
    position: absolute;
    background-color: #333333;
    padding: 10px 20px;
    border-radius: 15px;
    box-shadow: 4px 4px 10px #222222;
}
#login {
    position: absolute;
    top: 20px;
    right: 50px;
    background-color: #858585;
    color: #ffffff;
    transition: 0.2s all ease-in-out;
    border: 2px solid #000000;
    border-radius: 20px;
    width: auto;
    height: auto;
    padding: 10px 20px;
    font-size: 30px;
    cursor: pointer;
}
    #login:hover {
        box-shadow: 4px 3px 10px #6e6e6e;
    }
    #login:active {
        transform: scale(0.96);
    }

